<a href="https://colab.research.google.com/github/fickas/ai_for_good/blob/master/s22_puddles_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1>Puddles functions</h1></center>

They are listed in roughly order seen in class. Use the Table of Contents icon (3 horizontal bars) on top left to see a full list.

# * `up_get_table`: loads a table from the web into Python

##Syntax

<pre>
up_get_table(url)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>url</b></code></td>
      <td>A string representing a url associated with a table. Typically the table is in comma-separated value (csv) form. See also <code><b>up_write_table</b></code>.</td>
    </tr>
  </tbody>
</table>

##Example

<pre>
url = 'https://raw.githubusercontent.com/fickas/course_datasets/main/animals.csv'  #a table stored on github
animal_table = up_get_table(url)
</pre>



<center>
![Blue line](https://github.com/fickas/ai_for_good/blob/master/blue_line.png){ width=60%,height:30px }<img src='https://github.com/fickas/ai_for_good/blob/master/blue_line.png' height=100 width='300'>
</center>

# * `up_get_column`: grabs column from a table and returns as a list

##Syntax

<pre>
up_get_column(table, column_name)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column_name</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>.</td>
    </tr>
  </tbody>
</table>

##Example

<pre>
cute_list = up_get_column(animal_table, 'Cuteness')

print(type(animal_table))  #pandas.core.frame.DataFrame
print(type(cute_list))  #list
</pre>

##Error examples

<pre>
cute_list = up_get_column(animal_table, Cuteness) #column_name is not a string
</pre>
<pre>
cute_list = up_get_column(animal_table, 'cuteness') #column_name is wrong case
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_show_color`: shows the color that goes with RGB triple

##Syntax

<pre>
up_show_color(rgb_triple)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>rgb_triple</b></code></td>
      <td>A list of 3 numbers expected to be between 0 and 255. If smaller or larger, will be clipped to closest boundary.</td>
    </tr>
    
  </tbody>
</table>

##Example

<pre>
plum = [221,160,221]
up_show_color(plum)  #plum
</pre>
<img src='https://www.dropbox.com/s/js1uliwe0jwibbu/Screen%20Shot%202022-03-23%20at%203.25.03%20PM.png?raw=1' height=100>

##Clipping examples

<pre>
weird = [-221,-160,-221]
up_show_color(weird)  #clips to [0,0,0] - black
</pre>
<pre>
weird = [321,360,321]
up_show_color(weird)  #clips to [255,255,255] - white
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_find_char`: finds the index of a character in a bigger string

##Syntax

<pre>
up_find_char(big_string, character)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>big_string</b></code></td>
      <td>Any string.</td>
    </tr>
    <tr>
      <td><code><b>character</b></code></td>
      <td>A single character string.</td>
    </tr>
    
  </tbody>
</table>

##Example

<pre>
up_find_char('this; that', ';')  #returns 4, the index of ';' in larger string
</pre>

<pre>
a_string = 'abc'
a_char = 'b'
up_find_char(a_string, a_char)  #returns 1, the index of 'b' in larger string
</pre>

<pre>
up_find_char('this; that', '?')  #returns -1 since does not find '?' in bigger string.
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_plot_against`: plots one column against another

##Syntax

<pre>
up_plot_against(table, column1, column2)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column1</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>. Note that the number of unique values should be below 20 to plot effectively. See <code><b>up_get_column_types</b></code> to determine unique values in a column.</td>
    </tr>
    <tr>
      <td><code><b>column2</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>. This column should have 5 or fewer unique values to plot effectively.</td>
    </tr>
  </tbody>
</table>

##Example

<pre>
up_plot_against(loan_table, 'Gender', 'Loan_Status')  #note both columns have small number of unique values
</pre>
<img src='https://www.dropbox.com/s/jwo4ip364vgisef/Screen%20Shot%202022-03-17%20at%2012.42.22%20PM.png?raw=1' height=200>

##Error examples

<pre>
up_plot_against(loan_table, 'gender', 'Loan_Status') #Gender wrong case
</pre>
<pre>
up_plot_against(loan_table, 'Gender', 'LoanStatus') #Loan_Status misspelled.
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_table_subset`: create a subset of a larger table

##Syntax

<pre>
up_table_subset(table, column_name, condition, value)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column_name</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>.</td>
    </tr>
    <tr>
      <td><code><b>condition</b></code></td>
      <td>A string <code><b>'equals', 'not equals', '>', '<'</b></code>. </td>
    </tr>
    <tr>
      <td><code><b>value</b></code></td>
      <td>A string or number, depending on the type of values in column_name. </td>
    </tr>
  </tbody>
</table>

##Example

<pre>
female_table = up_table_subset(loan_table, 'Gender', 'equals', 'Female')

lat_180 = up_table_subset(loan_table, 'Loan_Amount_Term', '<', 180)
</pre>


##Error examples

<pre>
lat_180 = up_table_subset(loan_table, 'Loan_Amount_Term', '<', '180')  #don't quote number
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# `up_drop_column`: create a new table with column dropped

##Syntax

<pre>
up_drop_column(table, column_name)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column_name</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>.</td>
    </tr>
  </tbody>
</table>

##Example

<pre>
wrangled_loan_table_1 = up_drop_column(loan_table, 'Loan_ID')
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_drop_nan_rows`: create a new table with rows dropped that contain NaN values

##Syntax

<pre>
up_drop_nan_rows(table)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
  </tbody>
</table>

##Example

<pre>
wrangled_loan_table_2 = up_drop_nan_rows(wrangled_loan_table_1)</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_map_column`: create a new table with with values in column replaced

##Syntax

<pre>
up_map_column(table, column, mapping_dict)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>.</td>
    </tr>
    <tr>
      <td><code><b>mapping_dict</b></code></td>
      <td>A dictionary that gives a mapping from current values in the column to new values. </td>
    </tr>
    <tr>
  </tbody>
</table>

##Example

<pre>
wrangled_loan_table_7 = up_map_column(wrangled_loan_table_6, 'Gender', {'Male':0, 'Female':1})
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# `up_get_column_types`: illustrates the types of each column

##Syntax

<pre>
up_get_column_types(table)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    
  </tbody>
</table>

##Example

<pre>
up_get_column_types(wrangled_loan_table_4)
</pre>

<img src='https://www.dropbox.com/s/36fg4s39vplkstl/Screen%20Shot%202022-03-23%20at%201.45.43%20PM.png?raw=1' height=300>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_column_histogram`: plot a historgram of values in a column

##Syntax

<pre>
up_column_histogram(table, column)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>. <b>Important</b>: the column must contain numeric (not string) values.</td>
    </tr>
    
  </tbody>
</table>

##Example

<pre>
up_column_histogram(loan_table, 'ApplicantIncome')
</pre>
<img src='https://www.dropbox.com/s/rx1hgrdwafehv5e/Screen%20Shot%202022-03-23%20at%201.50.42%20PM.png?raw=1' height=200>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_clip_list`: clip values on boundaries in a list of numbers

##Syntax

<pre>
up_clip_list(value_list, lower_boundary, upper_boundary)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>value_list</b></code></td>
      <td>A list of numbers. Typically drawn from a table column: see <code><b>up_get_column</b></code>.</td>
    </tr>
    <tr>
      <td><code><b>lower_boundary</b></code></td>
      <td>A number representing the lower boundary to clip on. Values below this boundary are reset to the boundary. The lower_boundary must be less than the upper_boundary.</td>
    </tr>
    <tr>
      <td><code><b>upper_boundary</b></code></td>
      <td>A number representing the upper boundary to clip on. Values above this boundary are reset to the boundary.</td>
    </tr>
    <tr>
  </tbody>
</table>

##Example

<pre>
#used in outlier handling with 3Sigma
apin_clipped = up_clip_list(apin_list, apin_lower_boundary, apin_upper_boundary)
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_set_column`: create a new table where column has new values

##Syntax

<pre>
up_set_column(table, column, value_list)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>column</b></code></td>
      <td>A string that names a legal column in <code><b>table</b></code>.</td>
    </tr>
    <tr>
      <td><code><b>value_list</b></code></td>
      <td>A list of values to place in the column. Must be same length as table. See also <code><b>up_clip_list</b></code>.</td>
    </tr>
    <tr>
  </tbody>
</table>

##Example

<pre>
#used to reset a column based on 3Sigma outliers
wrangled_loan_table_5 = up_set_column(wrangled_loan_table_4, 'ApplicantIncome', apin_clipped)
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>

# * `up_write_table`: writes a table out as a file

##Syntax

<pre>
up_write_table(table, file_name)
</pre>

##Parameters

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code><b>table</b></code></td>
      <td>A puddles table. Can use <code><b>type</b></code> function to verify.</td>
    </tr>
    <tr>
      <td><code><b>file_name</b></code></td>
      <td>A string that represents a file name. Once written to local storage, the file can be moved, e.g., to GitHub. See also <code><b>See <code><b>up_get_table</b></code>.</td>
    </tr>
    <tr>
  </tbody>
</table>

##Example

<pre>
up_write_table(wrangled_loan_table_12, 'wrangled_loan_table_part1.csv')
</pre>



<center>
<img src='https://www.dropbox.com/s/56q7d7evuerifo8/Screen%20Shot%202022-03-13%20at%201.36.43%20PM.png?raw=1' height=100 width='300'>
</center>